In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('KSI.csv')

In [3]:
df

,X,Y,Index_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood,ObjectId
0,-8829728.092,5419070.899,3389067,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),1
1,-8829728.092,5419070.899,3389068,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),2
2,-8829728.092,5419070.899,3389069,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),3
3,-8829728.092,5419070.899,3389070,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),4
4,-8829728.092,5419070.899,3389071,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16088,-8851734.397,5427216.682,81356467,9002496688,2019,2019/12/27 05:00:00+00,2324,23,2901 JANE ST,JANE ST,...,NaN,NaN,NaN,Yes,NaN,NaN,NaN,25,Glenfield-Jane Heights (25),16089
16089,-8851734.397,5427216.682,81356468,9002496688,2019,2019/12/27 05:00:00+00,2324,23,2901 JANE ST,JANE ST,...,NaN,NaN,NaN,Yes,NaN,NaN,NaN,25,Glenfield-Jane Heights (25),16090
16090,-8837083.082,5412746.086,81340413,9002500260,2019,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,76,Bay Street Corridor (76),16091
16091,-8837083.082,5412746.086,81340414,9002500260,2019,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,76,Bay Street Corridor (76),16092
16092,-8837083.082,5412746.086,81340415,9002500260,2019,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,76,Bay Street Corridor (76),16093

In [4]:
new_df = df[df.columns.drop(list(df.filter(regex='Unnamed:')))]
new_df

,X,Y,Index_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood,ObjectId
0,-8829728.092,5419070.899,3389067,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),1
1,-8829728.092,5419070.899,3389068,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),2
2,-8829728.092,5419070.899,3389069,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),3
3,-8829728.092,5419070.899,3389070,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),4
4,-8829728.092,5419070.899,3389071,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16088,-8851734.397,5427216.682,81356467,9002496688,2019,2019/12/27 05:00:00+00,2324,23,2901 JANE ST,JANE ST,...,NaN,NaN,NaN,Yes,NaN,NaN,NaN,25,Glenfield-Jane Heights (25),16089
16089,-8851734.397,5427216.682,81356468,9002496688,2019,2019/12/27 05:00:00+00,2324,23,2901 JANE ST,JANE ST,...,NaN,NaN,NaN,Yes,NaN,NaN,NaN,25,Glenfield-Jane Heights (25),16090
16090,-8837083.082,5412746.086,81340413,9002500260,2019,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,76,Bay Street Corridor (76),16091
16091,-8837083.082,5412746.086,81340414,9002500260,2019,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,76,Bay Street Corridor (76),16092
16092,-8837083.082,5412746.086,81340415,9002500260,2019,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,76,Bay Street Corridor (76),16093

In [5]:
new_df.describe().T

,count,mean,std,min,25%,50%,75%,max
X,16093.0,-8.838289e+06,1.158697e+04,-8.865305e+06,-8.846374e+06,-8.838364e+06,-8.829647e+06,-8.808254e+06
Y,16093.0,5.420851e+06,8.675426e+03,5.402526e+06,5.413383e+06,5.419648e+06,5.427921e+06,5.443099e+06
Index_,16093.0,3.252283e+07,3.594367e+07,3.363207e+06,5.332810e+06,7.423775e+06,8.050395e+07,8.140853e+07
ACCNUM,16093.0,2.296710e+09,3.253387e+09,1.284070e+05,1.069209e+06,1.290852e+06,5.001873e+09,9.085345e+09
YEAR,16093.0,2.011896e+03,4.010676e+00,2.006000e+03,2.008000e+03,2.012000e+03,2.015000e+03,2.019000e+03
TIME,16093.0,1.348327e+03,6.306883e+02,0.000000e+00,9.070000e+02,1.440000e+03,1.840000e+03,2.359000e+03
HOUR,16093.0,1.331088e+01,6.123885e+00,0.000000e+00,9.000000e+00,1.400000e+01,1.800000e+01,2.300000e+01
WardNum,13795.0,1.209424e+01,7.283801e+00,1.000000e+00,6.000000e+00,1.100000e+01,1.900000e+01,2.500000e+01
Division,16093.0,3.422016e+01,1.454478e+01,1.100000e+01,2.200000e+01,3.300000e+01,4.300000e+01,5.500000e+01
LATITUDE,16093.0,4.371113e+01,5.632519e-02,4.359205e+01,4.366264e+01,4.370334e+01,4.375704e+01,4.385545e+01
LONGITUDE,16093.0,-7.939570e+01,1.040876e-01,-7.963839e+01,-7.946833e+01,-7.939637e+01,-7.931807e+01,-7.912590e+01
FATAL_NO,673.0,2.983061e+01,1.820504e+01,1.000000e+00,1.500000e+01,2.900000e+01,4.300000e+01,7.800000e+01
Hood_ID,16093.0,7.399565e+01,4.138429e+01,1.000000e+00,3.900000e+01,7.700000e+01,1.120000e+02,1.400000e+02
ObjectId,16093.0,8.047000e+03,4.645793e+03,1.000000e+00,4.024000e+03,8.047000e+03,1.207000e+04,1.609300e+04

In [6]:
new_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16093 entries, 0 to 16092
Data columns (total 56 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   X              16093 non-null  float64
 1   Y              16093 non-null  float64
 2   Index_         16093 non-null  int64
 3   ACCNUM         16093 non-null  int64
 4   YEAR           16093 non-null  int64
 5   DATE           16093 non-null  object
 6   TIME           16093 non-null  int64
 7   HOUR           16093 non-null  int64
 8   STREET1        16093 non-null  object
 9   STREET2        14698 non-null  object
 10  OFFSET         2388 non-null   object
 11  ROAD_CLASS     15725 non-null  object
 12  District       16080 non-null  object
 13  WardNum        13795 non-null  float64
 14  Division       16093 non-null  int64
 15  LATITUDE       16093 non-null  float64
 16  LONGITUDE      16093 non-null  float64
 17  LOCCOORD       15963 non-null  object
 18  ACCLOC         10643 non-null  object
 19  TRAFFCTL       16064 non-null  object
 20  VISIBILITY     16071 non-null  object
 21  LIGHT          16093 non-null  object
 22  RDSFCOND       16066 non-null  object
 23  ACCLASS        16093 non-null  object
 24  IMPACTYPE      16089 non-null  object
 25  INVTYPE        16083 non-null  object
 26  INVAGE         16093 non-null  object
 27  INJURY         14484 non-null  object
 28  FATAL_NO       673 non-null    float64
 29  INITDIR        11257 non-null  object
 30  VEHTYPE        13566 non-null  object
 31  MANOEUVER      9141 non-null   object
 32  DRIVACT        8032 non-null   object
 33  DRIVCOND       8032 non-null   object
 34  PEDTYPE        2570 non-null   object
 35  PEDACT         2564 non-null   object
 36  PEDCOND        2684 non-null   object
 37  CYCLISTYPE     641 non-null    object
 38  CYCACT         666 non-null    object
 39  CYCCOND        665 non-null    object
 40  PEDESTRIAN     6484 non-null   object
 41  CYCLIST        1681 non-null   object
 42  AUTOMOBILE     14632 non-null  object
 43  MOTORCYCLE     1274 non-null   object
 44  TRUCK          990 non-null    object
 45  TRSN_CITY_VEH  982 non-null    object
 46  EMERG_VEH      31 non-null     object
 47  PASSENGER      6091 non-null   object
 48  SPEEDING       2157 non-null   object
 49  AG_DRIV        8306 non-null   object
 50  REDLIGHT       1361 non-null   object
 51  ALCOHOL        713 non-null    object
 52  DISABILITY     450 non-null    object
 53  Hood_ID        16093 non-null  int64
 54  Neighbourhood  16093 non-null  object
 55  ObjectId       16093 non-null  int64
dtypes: float64(6), int64(8), object(42)
memory usage: 6.9+ MB

In [7]:
from sklearn.tree import DecisionTreeClassifier
 
import matplotlib.pyplot as plt
 
import numpy as np
 
import seaborn as sns
  
from sklearn import tree
 
from IPython.display import SVG
 
import scipy.stats as sstats
from sklearn.tree import export_graphviz

In [8]:
def cramers_v(x, y):
    confusion_matrix = pd.crosstab(x,y)
    chi2 = ss.chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2/n
    r,k = confusion_matrix.shape
    phi2corr = max(0, phi2-((k-1)*(r-1))/(n-1))
    rcorr = r-((r-1)**2)/(n-1)
    kcorr = k-((k-1)**2)/(n-1)
    return np.sqrt(phi2corr/min((kcorr-1),(rcorr-1)))

In [9]:
#cramers_v = pd.dataframe(cramers_v,index=categorical_features,columns=categorical_features)
sns.heatmap(n,linewidths=0.15,square=True, vmax=1.0, cmap=plt.cm.BuGn, linecolor='white', annot=True);

NameError: name 'n' is not defined

## <u>Quick Looks</u>

Variables to highlight in dataset for prediction:

    ROAD_CLASS
    WardNum
    Division
    TRAFFCTRL
    VISIBILITY
    LIGHT
    RDSFCOND
    INVTYPE
    INVAGE
    INJURY
    VEHTYPE
    DRIVCOND

### Road_Class

In [ ]:
countplt, ax = plt.subplots(figsize = (8,4))
ax =sb.countplot(x = 'ROAD_CLASS', data=new_df, ax=ax)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

### WardNum

In [ ]:
countplt, ax = plt.subplots(figsize = (16,4))
ax =sb.countplot(x = 'WardNum', data=new_df)

plt.show()

### Division

In [ ]:
countplt, ax = plt.subplots(figsize = (8,4))
ax =sb.countplot(x = 'Division', data=new_df)

plt.show()

### TRAFFCTL

In [ ]:
countplt, ax = plt.subplots(figsize = (8,4))
ax =sb.countplot(x = 'TRAFFCTL', data=new_df, ax=ax)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

### VISIBILITY

In [ ]:
countplt, ax = plt.subplots(figsize = (8,4))
ax =sb.countplot(x = 'VISIBILITY', data=new_df, ax=ax)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

<font color = "red">Suggest to bin results together as such:
    
    Clear
    Rain = Rain, Freezing Rain
    Snow = Snow, Drifting Snow
    Other = Other, "Fog, Mist, Smoke, Dust", Strong wind

### LIGHT

In [ ]:
countplt, ax = plt.subplots(figsize = (8,4))
ax =sb.countplot(x = 'LIGHT', data=new_df, ax=ax)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

### RDSFCOND

In [ ]:
countplt, ax = plt.subplots(figsize = (8,4))
ax =sb.countplot(x = 'RDSFCOND', data=new_df, ax=ax)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

### INVTYPE

In [ ]:
countplt, ax = plt.subplots(figsize = (8,4))
ax =sb.countplot(x = 'INVTYPE', data=new_df, ax=ax)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

### INVAGE

In [ ]:
df.sort_values(by=['INVAGE'], inplace=True)

In [ ]:
countplt, ax = plt.subplots(figsize = (16,4))
ax =sb.countplot(x = 'INVAGE', data=new_df, ax=ax)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

### INJURY

In [ ]:
countplt, ax = plt.subplots(figsize = (8,4))
ax =sb.countplot(x = 'INJURY', data=new_df)

plt.show()

### VEHTYPE

In [ ]:
countplt, ax = plt.subplots(figsize = (8,4))
ax =sb.countplot(x = 'VEHTYPE', data=new_df, ax=ax)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

### DRIVCOND

In [ ]:
countplt, ax = plt.subplots(figsize = (8,4))
ax =sb.countplot(x = 'DRIVCOND', data=new_df, ax=ax)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

## <u>Correlations</u>

In [ ]:
corrdf = new_df.corr()

corrdf

## <u>Missing Values</u>

Variables to highlight in dataset for prediction:

    ROAD_CLASS
    WardNum
    Division
    TRAFFCTL
    VISIBILITY
    LIGHT
    RDSFCOND
    INVTYPE
    INVAGE
    INJURY
    VEHTYPE
    DRIVCOND

In [ ]:
new_df.ROAD_CLASS.value_counts(dropna=False)

In [ ]:
new_df.WardNum.value_counts(dropna=False)

In [ ]:
new_df.Division.value_counts(dropna=False)

In [ ]:
new_df.TRAFFCTL.value_counts(dropna=False)

In [ ]:
new_df.VISIBILITY.value_counts(dropna=False)

In [ ]:
new_df.LIGHT.value_counts(dropna=False)

In [ ]:
new_df.RDSFCOND.value_counts(dropna=False)

In [ ]:
new_df.INVTYPE.value_counts(dropna=False)

In [ ]:
new_df.INVAGE.value_counts(dropna=False)

In [ ]:
new_df.INJURY.value_counts(dropna=False)

In [ ]:
new_df.VEHTYPE.value_counts(dropna=False)

In [ ]:
new_df.DRIVCOND.value_counts(dropna=False)

We want to keep all the INJURY records snce it is our target value- we will drop any NaN values in this column.

In [ ]:
new_df_aug1 = new_df.dropna(subset = ['INJURY'], how='all')

In [ ]:
print(new_df.shape)
print(new_df_aug1.shape)

In [ ]:
new_df_aug1.isnull().sum()

There are still missing values for the following features that we are interested in:

    ROAD_CLASS - 313
    WardNum - 2086
    Division - 0
    TRAFFCTL - 29
    VISIBILITY - 21
    LIGHT - 0
    RDSFCOND - 26
    INVTYPE - 5
    INVAGE - 0 
    INJURY - 0
    VEHTYPE - 2450
    DRIVCOND - 6463

Since the WardNum and Division have a strong correlation based on the heatmap we will drop WardNum as a feature since it has too many missing values.

Let's look at ROAD_CLASS, VEHTYPE and DRIVCOND since the have large missing values. Both features have categories of "unknown" and "other" so let's replace NaN with "unknown" or "other" since we cannot change their values in any vaild way; also we woudl like to keep these features for now.

In [ ]:
new_df_aug1["ROAD_CLASS"].fillna("Other", inplace = True)

In [ ]:
new_df_aug1["VEHTYPE"].fillna("Other", inplace = True)

In [ ]:
new_df_aug1["DRIVCOND"].fillna("Other", inplace = True)

In [ ]:
new_df_aug1.shape
# No records have been lost compared to before when doing this replace of Nan values.

In [ ]:
new_df_aug1.isnull().sum()

We now only have four features left that have a few missing values based on the updated feature table below.
    
    ROAD_CLASS - 0
    Division - 0
    TRAFFCTL - 29
    VISIBILITY - 21
    LIGHT - 0
    RDSFCOND - 26
    INVTYPE - 5
    INVAGE - 0 
    INJURY - 0
    VEHTYPE - 0
    DRIVCOND - 0
 
Since we currently have 14,484 records and the missing values are now very small i.e totally 55 records, we will go ahead and remove them since there is not a meaningful way transform them.

In [ ]:
new_df_aug2 = new_df_aug1.dropna(subset = ['TRAFFCTL'], how='all')

In [ ]:
new_df_aug3 = new_df_aug2.dropna(subset = ['VISIBILITY'], how='all')

In [ ]:
new_df_aug4 = new_df_aug3.dropna(subset = ['RDSFCOND'], how='all')

In [ ]:
new_df_aug5 = new_df_aug4.dropna(subset = ['INVTYPE'], how='all')

In [ ]:
new_df_aug5.shape

In [ ]:
new_df_aug5.isnull().sum()

## Duplicate Values

In [ ]:
new_df_aug5.duplicated().value_counts()

There are no duplicate values.

## Subset Feature and Target Only Dataframe

In [ ]:
# Create subset of the dataframe with only features that we are interested in.
feature_only_df = new_df_aug5.loc[:, ['INJURY', 'ROAD_CLASS', 'LIGHT', 'VISIBILITY', 'VEHTYPE', 'DRIVCOND', 'INVAGE', 'RDSFCOND', 'INVTYPE']]

In [ ]:
feature_only_df

## Dummy Variables

In [ ]:
RoadClass_dv = pd.get_dummies(feature_only_df['ROAD_CLASS'], prefix="RoadClass", prefix_sep ='_')

In [ ]:
# RoadClass_dv

In [ ]:
Light_dv = pd.get_dummies(feature_only_df['LIGHT'], prefix="Light", prefix_sep ='_')

In [ ]:
Visibility_dv = pd.get_dummies(feature_only_df['VISIBILITY'], prefix="Visibility", prefix_sep ='_')

In [ ]:
Vehicle_dv = pd.get_dummies(feature_only_df['VEHTYPE'], prefix="VEHTYPE", prefix_sep ='_')

In [ ]:
DriverCond_dv = pd.get_dummies(feature_only_df['DRIVCOND'], prefix="DRIVCOND", prefix_sep ='_')

In [ ]:
Age_dv = pd.get_dummies(feature_only_df['INVAGE'], prefix="INVAGE", prefix_sep ='_')

In [ ]:
RoadCond_dv = pd.get_dummies(feature_only_df['RDSFCOND'], prefix="RDSFCOND", prefix_sep ='_')

In [ ]:
Involve_dv = pd.get_dummies(feature_only_df['INVTYPE'], prefix="INVTYPE", prefix_sep ='_')

In [ ]:
# Decreases the model accuracy
#Traffic_dv = pd.get_dummies(feature_only_df['TRAFFCTL'], prefix="TRAFFCTL", prefix_sep ='_')

In [ ]:
# Put together all the dummy variables
new_df_aug5_dv = pd.concat([feature_only_df, RoadClass_dv, Light_dv, Visibility_dv, Vehicle_dv, DriverCond_dv, Age_dv, RoadCond_dv, Involve_dv], axis=1)

In [ ]:
# Drop feature columns from which dummy variables were created
new_df_aug5_dv.drop(['ROAD_CLASS', 'LIGHT', 'VISIBILITY', 'VEHTYPE', 'DRIVCOND','INVAGE','RDSFCOND','INVTYPE'],axis=1,inplace=True)

In [ ]:
new_df_aug5_dv

## Decision Tree Model

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import numpy as np
import sklearn as sk
import sklearn.datasets as skd
import sklearn.ensemble as ske
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.rcParams['figure.dpi'] = mpl.rcParams['savefig.dpi'] = 300

In [ ]:
X = new_df_aug5_dv.drop("INJURY", axis=1) # Features
y = new_df_aug5_dv["INJURY"] # Target variable

In [ ]:
# Split the dataset into 75% training data and 25% of testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [ ]:
# Train the model with the help of DecisionTreeClassifier class
clf = DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [ ]:
# Next we make a prediction
y_pred = clf.predict(X_test)

In [ ]:
# Get the accuracy score, confusion matrix and classification report
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(result)
result1 = classification_report(y_test, y_pred)
print("Classification Report:",)
print (result1)
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

The feature TRAFFCTL was used in the model initially but was excluded since it decreased the model accuracy.

In [ ]:
import seaborn as sns
sns.heatmap(result/np.sum(result), annot=True, fmt='.1%', cmap='Blues')

Tuning the model using the DecisionTree paramaters.

In [ ]:
# Train the model with the help of DecisionTreeClassifier class
clf = DecisionTreeClassifier(max_depth=15, random_state=100, min_samples_leaf=28, criterion='gini')
clf = clf.fit(X_train, y_train)

In [ ]:
# Next we make a prediction
y_pred = clf.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

# Trying to graph decision tree

In [ ]:
FEATURE_NAMES = new_df_aug5_dv.columns[1:110]
FEATURE_NAMES

In [ ]:
pip install pydotplus

In [ ]:
#method 2
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image
import pydotplus


dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,
      filled=True, rounded=True,
      special_characters=True,feature_names = FEATURE_NAMES,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('Fatal+Major Injury Accidents Decision Tree.png')
Image(graph.create_png())